name: Upload on Nexus

on: 
    push:
        branches: 
            - main

env:
    M_VAR: some-folder

jobs:
    first-job:
        name: build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4.1.1 

            - name: Print value of M_VAR
              run : echo $M_VAR  
       
            - name: Upload file on Nexus
              #uses: sonatype-nexus-community/nexus-repo-github-action@1.0.0
              uses: sonatype-nexus-community/iq-github-action@master
              with:
                serverUrl: https://e87e-46-162-197-47.ngrok-free.app
                username: ${{ secrets.NEXUS_USERNAME }}
                password: ${{ secrets.NEXUS_PASSWORD }}
                applicationId: for-git-repo
                stage: Build
                target: ./github/
                #format: nuget
                #repository: for-git-repo
                #coordinates: directory=${{ env.M_VAR }}
                #assets: filename=README.md
                #filename: /README.md
            
