name: Upload on Nexus

on: 
    push:
        branches: 
            - main

jobs:
    first-job:
        name: build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4.1.1
              env :
                M_VAR: some-folder
            - run : echo $M_VAR 
       
            - name: Upload file on Nexus
              uses: sonatype-nexus-community/nexus-repo-github-action@1.0.0
              with:
                serverUrl: https://e87e-46-162-197-47.ngrok-free.app
                username: ${{ secrets.NEXUS_USERNAME }}
                password: ${{ secrets.NEXUS_PASSWORD }}
                format: raw
                repository: for-git-repo
                coordinates: directory=${{ env.M_VAR }}
                assets: filename=README.md
                filename: /README.md
