name: Upload on Nexus

on: 
    push

env:
    M_VAR: some-folder

jobs:
    first-job:
        name: build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4.1.1 

            - name: Print value of M_VAR
              run : echo $M_VAR  
       
            - name: Upload file on Nexus
              uses: sonatype-nexus-community/nexus-repo-github-action@1.0.0
              with:
                serverUrl  : https://4eb5-46-162-197-47.ngrok-free.app
                username   : ${{ secrets.NEXUS_USERNAME }}
                password   : ${{ secrets.NEXUS_PASSWORD }}
                format     : maven2
                repository : maven-releases
                coordinates: groupId=${{ env.M_VAR }} artifactId=.github version=workflows
                assets     : extension=yml
                filename   : .github/workflows/*
                #assets: filename=README.md
                #filename: README.md
                
            
